.centerblock {
  width: auto;
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 20px 40px 20px 111px;
}

.centerblock__h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.013em;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat, sans-serif;
  margin-bottom: 32px;
}

.centerblock__content {
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 20px 40px 20px 0px;
}

.content__playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
}

.centerblock__loading {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding: 40px 0;
}

.centerblock__error {
  color: #ff6b6b;
  font-size: 16px;
  text-align: center;
  padding: 40px 0;
}

.centerblock__empty {
  padding: 40px 20px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
